interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eod-catalog-svc-prod.astraea.earth/search?bbox=-73.3%2C43.9%2C-73.1%2C44.1&collections=naip&sortby=-id
  response:
    body:
      string: '{"context":{"limit":10,"matched":80,"returned":10},"features":[{"assets":{"analytic_rgbir_cog":{"bundleable":true,"eo:bands":[{"common_name":"red","name":"B1"},{"common_name":"green","name":"B2"},{"common_name":"blue","name":"B3"},{"common_name":"nir","name":"B4"}],"eo:common_name":"red","eo:gsd":0.06,"gsd":0.06,"href":"s3://naip-analytic/vt/2016/60cm/rgbir_cog/44073/m_4407364_sw_18_h_20160804.tif","roles":["data"],"size":552474461,"title":"Analytic
        RGBIR COG","type":"image/tiff; application=geotiff; profile=cloud-optimized"},"analytic_rgbir":{"bundleable":true,"eo:bands":[{"common_name":"red","name":"B1"},{"common_name":"green","name":"B2"},{"common_name":"blue","name":"B3"},{"common_name":"nir","name":"B4"}],"eo:common_name":"red","eo:gsd":0.06,"gsd":0.06,"href":"s3://naip-analytic/vt/2016/60cm/rgbir/44073/m_4407364_sw_18_h_20160804.mrf","roles":["data"],"size":461114119,"title":"Analytic
        RGBIR","type":"application/x.mrf"},"source_rgbir":{"bundleable":true,"eo:bands":[{"common_name":"red","name":"B1"},{"common_name":"green","name":"B2"},{"common_name":"blue","name":"B3"},{"common_name":"nir","name":"B4"}],"eo:common_name":"red","eo:gsd":0.06,"gsd":0.06,"href":"s3://naip-source/vt/2016/60cm/rgbir/44073/m_4407364_sw_18_h_20160804.tif","roles":["data"],"size":491057153,"title":"Source
        RGBIR","type":"image/tiff; application=geotiff"},"visual_rgb":{"bundleable":true,"eo:bands":[{"common_name":"red","name":"B1"},{"common_name":"green","name":"B2"},{"common_name":"blue","name":"B3"}],"eo:common_name":"red","eo:gsd":0.06,"gsd":0.06,"href":"s3://naip-visualization/vt/2016/60cm/rgb/44073/m_4407364_sw_18_h_20160804.tif","roles":["overview","preview"],"size":45864171,"title":"Visualization
        RGB","type":"image/tiff; application=geotiff"}},"bbox":[-73.13079982239867,43.99619246073119,-73.05662884386722,44.066307346714105],"collection":"naip","geometry":{"coordinates":[[[[-73.13079982239867,43.997392051645626],[-73.09483943825052,43.996797911452234],[-73.05888016840694,43.99619246073119],[-73.05775550840607,44.030648788343655],[-73.05662884386722,44.06510488441372],[-73.09262975733672,44.065711784349936],[-73.12863178988891,44.066307346714105],[-73.12971677138445,44.03184981412739],[-73.13079982239867,43.997392051645626]]]],"type":"MultiPolygon"},"id":"m_4407364_sw_18_h_20160804","links":[{"href":"https://eod-catalog-svc-prod.astraea.earth/collections/naip/items/m_4407364_sw_18_h_20160804","operations":["get"],"rel":"self","title":"Self","type":"application/geo+json"},{"href":"https://eod-catalog-svc-prod.astraea.earth/collections/naip","rel":"parent","title":"Parent","type":"application/json"},{"href":"https://eod-catalog-svc-prod.astraea.earth/collections/naip","rel":"collection","title":"Collection","type":"application/json"},{"href":"https://eod-catalog-svc-prod.astraea.earth","rel":"root","title":"Root","type":"application/json"},{"capabilities":{"parameters":[{"name":"composite","values":[{"description":"Default
        View.","name":"default","title":"Default View"},{"description":"True Color
        Composite.","name":"true_color","title":"True Color Composite"},{"description":"Normalized
        Difference Vegetation Index.","name":"ndvi","title":"NDVI"},{"description":"Normalized
        Difference Water Index using Green and NIR per McFeeters(1997).","name":"ndwi","title":"NDWI
        (Green & NIR)"},{"description":"Color Infrared (Vegetation) consisting of
        Near-infrared, Red, and[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://eod-catalog-svc-prod.astraea.earth/search?next=m_4407364_nw_18_060_20181019&bbox=-73.3,43.9,-73.1,44.1&collections=naip&sortby=-id
  response:
    body:
      string: '{"context":{"limit":10,"matched":80,"returned":10},"features":[{"assets":{"analytic_rgbir_cog":{"bundleable":true,"eo:bands":[{"common_name":"red","name":"B1"},{"common_name":"green","name":"B2"},{"common_name":"blue","name":"B3"},{"common_name":"nir","name":"B[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://eod-catalog-svc-prod.astraea.earth/search?next=m_4407363_se_18_060_20180914&bbox=-73.3,43.9,-73.1,44.1&collections=naip&sortby=-id
  response:
    body:
      string: '{"context":{"limit":10,"matched":80,"returned":10},"features":[{"assets":{"analytic_rgbir_cog":{"bundleable":true,"eo:bands":[{"common_name":"red","name":"B1"},{"common_name":"green","name":"B2"},{"common_name":"blue","name":"B3"},{"common_name":"nir","name":"B[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://eod-catalog-svc-prod.astraea.earth/search?next=m_4407363_ne_18_060_20180924&bbox=-73.3,43.9,-73.1,44.1&collections=naip&sortby=-id
  response:
    body:
      string: '{"context":{"limit":10,"matched":80,"returned":10},"features":[{"assets":{"analytic_rgbir_cog":{"bundleable":true,"eo:bands":[{"common_name":"red","name":"B1"},{"common_name":"green","name":"B2"},{"common_name":"blue","name":"B3"},{"common_name":"nir","name":"B[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://eod-catalog-svc-prod.astraea.earth/search?next=m_4307306_ne_18_060_20180823&bbox=-73.3,43.9,-73.1,44.1&collections=naip&sortby=-id
  response:
    body:
      string: '{"context":{"limit":10,"matched":80,"returned":0},"features":[],"links":[],"search:metadata":{"limit":10,"next":"","numberMatched":80,"numberReturned":0,"queryMetadata":null},"stac_extensions":[],"stac_version":"1.0.0-beta.2","type":"FeatureCollection"}'
    headers:
      Content-Type:
      - application/geo+json
    status:
      code: 200
      message: OK
version: 1
